<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PAWS Finder</title>
  
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Open+Sans" rel="stylesheet">
  
  <!-- my CSS  -->
  <link rel="stylesheet" type="text/css" href="static/css/pawsfinder.css">  
  <!-- Favicon -->
  <link rel="icon" href="static/img/paw-favicon.ico" type="image/gif" sizes="16x16">            
</head>

<body>

<!-- Bootstrap navbar set up -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="static/img/paw.png" style="width:30px;height:22px;">
      </a>
    </div>
    <ul class="nav navbar-nav navb">
      <li class="active"><a href="/">Home</a></li>
      
    {% if 'user_id' in session %} 
      <li class="active" id="saved-paws-link"><a href="#" id="saved-searches">Saved Paws</a></li>    
      <li class="active" id="search-shelters-link"><a href="#" id="shelter-link">Search Shelters</a></li>
    {% endif %}  
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" id="register-link"><span class="glyphicon glyphicon-user"></span>Register</a></li>
      
      {% if 'user_id' not in session %}
        <li id="login-button"><a href="#" id="login-link"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        <li id="logout-button" class="hidden"><a href="#" id="logout-link"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
      {% endif %}

      {% if 'user_id' in session %}
        <li id="logout-button"><a href="#" id="logout-link"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        <li id="login-button" class="hidden"><a href="#" id="login-link"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      {% endif %}> 
    </ul>
  </div>
</nav>
 
    {% for flash in get_flashed_messages() %}
    <div class="flash-center">
      {{ flash }} 
    </div>
    {% endfor %}

<!-- SAVE SEARCH MODAL -->
<div class="modal fade one" id="save-modal">
  <div class="modal-dialog"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title modal-save-likes">Saved Searches And Likes</h3><br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body one"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade two" tabindex="-1" role="dialog" id="login-modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title modal-login">Log In</h3>
      </div>
        <div class="modal-body two">
        <p id="login-error-message" hidden></p>
          <form id="login-form">
            <div class="form-group">
              <input type="text" class='login' id="login-email-field" name="email" placeholder="Email"><br>
            </div>
            <div class="form-group">  
              <input type="password" class='login' id="login-password-field" name="password" placeholder="Password"><br>  
            </div>        
              <div class="modal-footer">
                <button type="reset" class="btn btn-default" id='loginmodal-cancel'>Cancel</button>
                <button type="submit" class="btn btn-primary btn-login" id='loginmodal-submit'>Login</button>
              </div>                 
          </form>  
          <!-- Add this later -->
<!--           <div class="login-help">
            <a href="#">Register</a> - <a href="#">Forgot Password</a>
          </div> -->
        </div>
    </div>/<!-- .modal-content -->
  </div>/<!-- .modal-dialog -->
</div><!--.modal  -->

<!-- REGISTRATION MODAL -->
<div class="modal fade three" id="register-modal">
  <div class="modal-dialog"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title modal-reg">Sign Up For A Free Account</h2><br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body three">
        <form action="/process-registration" method="POST">
          
          <div class="row">
            <!-- First name field -->
            <p id="registration-status"></p>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                <input type="text" name="firstname" id="firstname-field" 
                class="form-control input-sm" placeholder="First Name">
                </div>
              </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <!-- Last name field -->
              <div class="form-group">
                <input type="text" name="lastname" id="lastname-field" 
                class="form-control input-sm" placeholder="Last Name">
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Email Field -->
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="email" name="email" id="email-field" 
                class="form-control input-sm" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Invalid input. Email must contain a domain in the form of @domain.com." placeholder="Email Address">
              </div>
            </div> 
            <!-- Phone Field -->
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="tel" name="phone" id="phone-field" 
                class="form-control input-sm"
                pattern="\+\d{1}\d{3}\d{3}\d{4}" placeholder="Mobile phone  +14158881212" title="Invalid input, please use the format +14158881212">
              </div>
            </div>            
          </div>
        
          <div class="row">
            <!-- Password field -->
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="password" name="password" id="password-field" 
                class="form-control input-sm" pattern=".{6,}" title="Six or more characters" placeholder="Password requires 6 or more characters" title="Invalid input, password must contain 6 or more characters.">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="password" name="password_confirmation" class="form-control input-sm" id="confirm-password" name="password2" pattern=".{6,}" title="Six or more characters" placeholder="Confirm password" title="Invalid input, passwords didn't match.">
              </div>
              <div class="password-message" id="confirm-message"></div>
            </div>
          </div>   
                 
          <div class="modal-footer">
            <button type="reset" class="btn btn-default" id='cancel-signup'>Cancel</button>
            <button type="submit" class="btn btn-primary" id='signup-btn'>Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- Shelter Modal -->
<div class="modal fade four" tabindex="-1" role="dialog" id="shelter-modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title modal-shelter">Search For A Shelter</h4>
      </div>
        <div class="modal-body four">
          <form action="/shelters-search" method="GET">
            <input type="text" name="zipcode" maxlength="5" id="zipcode-field" placeholder="94114">
        </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="search-shelters">Search</button>
          </form>
          </div>
    </div>/<!-- .modal-content -->
  </div>/<!-- .modal-dialog -->
</div><!--.modal  -->

{% block content %}
    Put your body here.
{% endblock %}

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- my javascript -->
  <script src="static/register.js"></script> 
  <script src="static/pawsfinder.js"></script> 
  <script src="static/savedpaws.js"></script> 
  <script src="static/shelters.js"></script> 
  <script src="static/zipcode.js"></script>

</body>
</html>